<img class="rounded-b-3xl" src="assets/background.png" alt="background" />
<div
  class="-mt-10 flex flex-col items-center gap-4 md:-mt-20 md:ms-12 md:flex-row md:items-end">
  <div
    class="relative flex aspect-square w-32 items-center justify-center rounded-full bg-white p-2 md:w-44">
    <div
      class="relative aspect-square w-full overflow-hidden rounded-full bg-primary">
      <img class="h-full" src="assets/my-website.png" alt="profile" />
    </div>
  </div>
  <div class="relative text-center md:mb-8 md:text-start">
    <h4 class="text-lg font-medium">
      Visual Design, UI Design, Web Design, Drawing Artist
    </h4>
    <span class="text-secondary">since 2016</span>
  </div>
</div>
