<div class="flex w-full flex-auto flex-col">
  <app-profile-header class="mb-18 flex flex-col"></app-profile-header>

  <section class="mb-18 flex flex-col items-center">
    <span class="text-lg font-medium text-primary md:text-lg">
      Certificates
    </span>
    <h2 class="text-5xl font-medium text-accent md:text-5xl md:font-normal">
      My Certificates
    </h2>
    <div
      class="mt-24 grid w-full grid-cols-1 place-content-between gap-10 md:grid-cols-2">
      <div class="relative w-full overflow-hidden rounded-xl text-center">
        <img class="inline-block max-w-120" src="assets/cert-1.png" alt="" />
        <div class="mt-8 flex items-center justify-center">
          <img class="h-7 w-7" src="assets/mino.svg" alt="mino" />
          <h2 class="text-2xl font-medium">3D Design (Blender)</h2>
        </div>
        <span class="text-primary">Amanj Academy</span>
      </div>
      <div class="relative w-full overflow-hidden rounded-xl text-center">
        <img class="inline-block max-w-120" src="assets/cert-2.png" alt="" />
        <div class="mt-8 flex items-center justify-center">
          <img class="h-7 w-7" src="assets/mino.svg" alt="mino" />
          <h2 class="text-2xl font-medium">Foundation of UX Design</h2>
        </div>
        <span class="text-primary">Google</span>
      </div>
      <div class="relative w-full overflow-hidden rounded-xl text-center">
        <img class="inline-block max-w-120" src="assets/cert-3.png" alt="" />
        <div class="mt-8 flex items-center justify-center">
          <img class="h-7 w-7" src="assets/mino.svg" alt="mino" />
          <h2 class="text-2xl font-medium">Wordpress (Advanced)</h2>
        </div>
        <span class="text-primary">Technical and Vocational University</span>
      </div>
      <div class="relative w-full overflow-hidden rounded-xl text-center">
        <img class="inline-block max-w-120" src="assets/cert-4.png" alt="" />
        <div class="mt-8 flex items-center justify-center">
          <img class="h-7 w-7" src="assets/mino.svg" alt="mino" />
          <h2 class="text-2xl font-medium">Responsive Design with Grids</h2>
        </div>
        <span class="text-primary">Udemy</span>
      </div>
    </div>
  </section>
</div>
