<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">
  <!-- Header -->
  <div
    class="relative z-10 flex h-20 w-full flex-0 items-center justify-center bg-white px-4 shadow md:px-6 print:hidden">
    <div class="flex w-320 max-w-320 items-center justify-between">
      <!-- Navigation -->
      <div class="hidden items-center gap-16 md:flex">
        @for (nav of navigation; track nav.name) {
          <a
            class="leading-8"
            [routerLink]="[nav.link]"
            routerLinkActive="border-b-2 border-primary">
            {{ nav.name }}
          </a>
        }
      </div>
      <!-- Menu -->
      <button
        type="button"
        class="flex items-center gap-16 md:hidden"
        aria-label="menu">
        <img src="assets/menu.svg" alt="" />
      </button>
      <!-- Logo -->
      <img class="w-28" src="assets/logo.svg" alt="Logo image" />
    </div>
  </div>

  <!-- Content -->
  <div class="flex flex-auto flex-col items-center">
    <div class="w-full px-4 md:max-w-320">
      <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
      <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
      class="bg-primary-gradient relative flex h-16 w-full flex-0 items-center justify-center px-4 text-white md:px-6 print:hidden">
      <p class="text-center text-md font-medium">
        Special thanks to Mehrnaz Reyhanizadeh for creating my Website
      </p>
    </div>
  </div>
</div>
